@media only screen and (max-width: 960px) {
    .mainBoard{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1% 44% 5% 44% 1%;
        grid-auto-rows: 10vh auto;
    }

    .mainBoardMobileGame{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 5% 90% 5%;
        grid-auto-rows: 10vh auto;
    }

}

@media only screen and (min-width: 961px){
    .mainBoard{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-auto-rows: 10vh auto;
    }

    .mainBoardMobileGame{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 20% 60% 20%;
        grid-auto-rows: 10vh auto;
    }
}
