.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  user-select: none;
}

#AppHeader{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1/6;
  width: 98%;
  color: var(--main-theme-text) !important;
  background-color: var(--main-theme-secondary);
  box-shadow: 0 0 10px var(--main-theme-shadow);
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  padding: 0.5%;
  margin: 0.5%;
}

#AppHeader h1{
  font-size: 3rem;
  text-align: justify;
  font-weight: 900;
}

#AppContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100vw;
  margin-bottom: 5%;
}

#AppIntroduction{
  display: flex;
  margin-top: 5vh;
  height: 80vh;
  margin-bottom: 5vh;
}

.section{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  justify-content: center;
  background-color: var(--main-theme-secondary);
}

/* #AppContentDebug{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 25%;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 5%;
} */

.vsButton{
  font-size: 1.5rem;
  background-color: transparent;
  border: 0.5px solid transparent;
  font-family: 'Lato';
  color: var(--main-theme-text);
}


.vsButton:hover{
  border: 0.5px solid rgb(101, 99, 99);
  background-color: rgba(142, 138, 138, 0.162);
}

.cvButton{
  grid-column: 2;
}


.linkedInButton{
  grid-column: 3;
}

.githubButton{
  grid-column: 4;
}

.customzieButton{
  grid-column: 5;
}

.intro {
  width: 100vw;
  height: 80vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  background-image: linear-gradient(to top, var(--main-theme), var(--main-theme), var(--main-theme-secondary));
  display: grid;
  grid-template-columns: 5% 20% 60% 5%;
  grid-template-rows: 2.5% 15% 75% 7.5%;
  color: #fff;
  border-top: 0.5px solid var(--main-theme-shadow);
}

.introHeader {
  text-align: center;
  margin-bottom: 2rem;
  grid-column: 2;
  grid-row: 2;
}


.introHeader h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.introHeader h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.introDescription {
  padding-top: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-row: 3;
  grid-column: 3;
}

.introDescription p {
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: justify;
}

.logo{
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.logo img{
  aspect-ratio: 1/1;
}
