.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#AppHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--main-theme-text);
  background-color: var(--main-theme-secondary);
  box-shadow: 0 0 10px var(--main-theme-shadow);
}

#AppHeader h1{
  font-size: 3rem;
  text-align: justify;
  padding: 2.5%;
  color: #3aa184;
  font-weight: 900;
}

#AppContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 25%;
  width: fit-content;
  margin-bottom: 5%;
}
