.options{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 20% 20% 20% 20% 10%;
    max-width: var(--card-theme-width);
    min-height: 250px;
    max-height: 25vh;
    grid-row-gap: 30px;
    width: 80%;
    background-color: var(--main-theme-secondary);
    box-shadow: 0 0 10px var(--main-theme-shadow);
    padding: 30px;
    overflow: hidden;
}

.runDiv{
    grid-column: 2;
    grid-row: 2;
}

.debugDiv{
    grid-column: 2;
    grid-row: 3;
}

.sourceCodeDiv{
    grid-column: 2;
    grid-row: 4;
}

.optionsButton{
    display: flex;
    min-width: 50%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0.5px solid transparent;
    font-family: 'Lato';
    color: var(--main-theme-text);
}

.optionsButton:hover{
    border: 0.5px solid rgb(101, 99, 99);
    background-color: rgba(142, 138, 138, 0.162);
}

.line{
    position: relative;
    top: 2.5vw;
    transform: rotate(45deg);
    width: 50vw;
    height: 20px;
    background-color: var(--main-theme-text-function);
}
