.cardDiv{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 15%, 15%, 10% 55%;
    max-width: var(--card-theme-width);
    grid-row-gap: 30px;
    width: 90%;
    background-color: var(--main-theme-secondary);
    box-shadow: 0 0 10px var(--main-theme-shadow);
    padding-top: 30px;
}




.imageDiv{
    margin-top:2.5%;
    box-shadow: 0 -5px 20px -5px black;
    background-color: var(--main-theme-text-long);
    display: flex;
    grid-column: 1/4;
    grid-row: 3;
    justify-content: center;
}

.imageDiv img{
    max-width: 100%;
    aspect-ratio: 16/9;
}


.titleDiv{
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row:1;
    text-align: start;
}

.titleDiv button{
    background-color: transparent;
    font-family: 'Lato';
    font-size: 2rem;
    border: none;
    margin-right: 2.5%;
    color: var(--main-theme-text-function);
    transition:  transform 0.5s;
}

.titleDiv button:hover
{
    transform: scale(1.1);
}

.titleDiv span{
    font-size: 3rem;
    color: var(--main-theme-text-comment)
}

.descriptionDiv{
    width: 100%;
    grid-column: 2;
    grid-row:2;
}



.descriptionDiv span{
    font-size: 1.5rem;
    color: var(--main-theme-text);
}