.lineDecorator{
    display: grid;
    grid-template-columns: 5% 95%;
    width: 100vw;
    height: 100%;
    padding: 2.5%;
    color: var(--main-theme-text);
    line-height: 0.96;
    
}

.contentDiv{
    display: flex;
    grid-columN: 2;
    width: 100%;
    height: 100%;
    padding: 0px !important;
}

.squareVS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 2rem;
    border: 1px solid var(--main-theme-text);
    text-align: center;
    transition: transform 0.5s;
}

.squareVS:hover{
    background-color: #ffffffb3;
    transform: rotate(-90deg) ;
}

.decoratorDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width:28px;        
    user-select: none;    
    grid-column: 1;           
}

@media screen and (max-width: 600px) {
    .lineDecorator{
        grid-template-columns: 10% 90%;
    }
    
    
}